server:
  port: 8181

logging:
  level: INFO

ncu:
  oauth:
    api-token: your-api-token
    server-path: https://localhost/oauth

ecard:
  url: http://localhost/ecard
  token: 123

custom:
  management:
    security:
      access: hasIpAddress('127.0.0.1') or hasIpAddress('0:0:0:0:0:0:0:1')
  connection:
    location:
      server: http://localhost:8898